.nav_other{
    background-color: white; 
    border-bottom: 2px solid #4F46E5; 
    position: relative; 
    z-index: 2; 
    width: 100%; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

.nav{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 2px 5px; 
    font-family: Arial, sans-serif; 
}

.nav.active {
    background-color: white; 
    border-bottom: 2px solid #4F46E5; 
    position: fixed; 
    top: 0; 
    z-index: 2; 
    width: 100%; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav.active .home-link,
.nav.active .other-link {
    color: black; 
    transition: color 0.3s ease; 
}

.nav.active .home-link:hover,
.nav.active .other-link:hover {
    text-decoration: underline;
    text-decoration-color: black; 
}

.nav-logo{
    font-family: 'Outfit', sans-serif; 
    font-size: 40px; 
    font-weight: 550; 
    color: #6a0dad; 
    display: flex;
    align-items: center;
    gap: 8px; 
    margin: 6px 60px;
    top: 12px; 
    left: 64px; 
}
.nav-menu{
    display: flex;
    gap: 20px; 
    list-style: none; 
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 15px;
    margin-right: 35px;
}


.other-link{
    text-decoration: none; 
    color: #000; 
    font-size: 16px; 
    font-weight: 100; 
    transition: color 0.3s, text-decoration-color 0.3s; 
}

.home-link{
    text-decoration: none; 
    color: rgb(247, 244, 244); 
    font-size: 16px; 
    font-weight: 100; 
    transition: color 0.3s, text-decoration-color 0.3s; 
}

.other-link:hover {
    text-decoration: underline;
    text-decoration-color: black; 
}


.home-link:hover {
    text-decoration: underline;
    text-decoration-color: white; 
}

.nav-contact{
    border-radius: 50px;
    padding: 4px 20px;
    background: #4F46E5;
}
 
.nav-contact a {
    color: white; 
    text-decoration: none; 
}
  
.nav-contact:hover {
  background: #544cbd; 
  transform: scale(1.05); 
}

.nav-contact a:hover {
  color: #ffffff;
} 

.nav-contact a{
    color: white;
}

